<div class="row">
    <div class="col-md-12">
        <div class="main-verification-input-wrap">
            <ul>
                <h1 style="font-size: 48px; font-weight: 400; margin: 2;">Welcome!</h1> <img src=" https://img.icons8.com/clouds/100/000000/handshake.png" width="125" height="120" style="display: block; border: 0px;" />
                <li>We're excited to have you get started. First, you need to login. Just Click the button below!</li>
                <li>Amazing file Reconcilation application awaits you!</li>
            </ul>
            <div class="main-verification-input fl-wrap">
                <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
                    <button
                      class="main-verification-button"
                      (click)="logOut()"
                    >
                      Log out
                    </button>
                  </ng-container>
      
                  <ng-template #loggedOut>
                    <button
                      class="main-verification-button"
                      (click)="logIn()"
                    >
                      Log in
                    </button>
                  </ng-template>
            </div>
        </div>
    </div>
</div>